body {
	/* background-color: #b1d4e0; */
	/*b1d4e0 d4f1f4 */

	background-image: linear-gradient(to bottom right, #b1d4e0, #d4f1f4);
}

#foto {
	border: black dashed;
}

#aboutMe {
	color: white;
	background-color: #145da0;
}

#icon-link {
	color: black;
}

/* Box model: Divs & containers
div {
	border: chocolate dashed;
}

.container {
	border: blue dashed;
}
*/
